@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&family=Oswald:wght@300&display=swap');

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-image:linear-gradient(to left, rgba(171, 199, 171, 0.487), rgba(70, 164, 177, 0.535) ),  url('../Img/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: pixelated;  
    background-position: center;
    width: 100%;
    font-family: 'Hahmlet', serif;
}


.survey{
    background-color: bisque;
    background-image:  linear-gradient(to bottom right, rgb(128, 0, 128) -50%, rgba(103, 103, 197, 0.898)), url('../Img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 30px 30px 5px 30px;
    border-radius: 5px;
}

.details{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-control{
    margin-bottom: 20px;
}

input[type=radio]{
    margin-bottom: 10px;
    margin-right: 6px;
    
}

input[type=radio]:hover{
    width: 15px;
    height: 15px;
}


input[type=checkbox]{ 
    margin-right: 6px;
    margin-bottom: 10px;
    
}

input[type=checkbox]:hover{
    width: 15px;
    height: 15px;
}


select{
    -webkit-appearance: listbox !important
    }




